@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.skill_body {
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.skill_body::selection {
  color: #fff;
  background: #6665ee;
}

.skill-bars {
  padding: 25px 30px;
  width: 600px;
  z-index: 1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.react span {
  width: 90%;
}

.bar .progress-line.css span {
  width: 70%;
}

.bar .progress-line.nodejs span {
  width: 80%;
}

.bar .progress-line.mysql span {
  width: 60%;
}

.bar .progress-line.java span {
  width: 85%;
}

.bar .progress-line.mongodb span {
  width: 75%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span.clicked::before {
  border-top-color: #fff;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span.clicked::after {
  background: #fff;
  color: #000;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.react span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "70%";
}

.progress-line.nodejs span::after {
  content: "80%";
}

.progress-line.mysql span::after {
  content: "60%";
}

.progress-line.java span::after {
  content: "85%";
}

.progress-line.mongodb span::after {
  content: "75%";
}

.skills {
  display: flex;
  flex-direction: row;
}

.skill_img {
  position: relative;
  left: 200px;
}

.skills_bubble {
  position: absolute;
  display: grid;
  place-items: center;
  font: 2vw system-ui;
  margin: 10px;
  user-select: none;
}

.skills_bubble p {
  transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #83af9b;
  font-family: "Baloo 2", cursive;
}

.skills_bubble p:after {
  transform: translatey(0px);
  -webkit-animation: float2 5s ease-in-out infinite;
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #ece5ce;
  text-shadow: 22px 22px #83af9b;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ece5ce;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #83af9b;
  z-index: -2;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  55% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  55% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

#linode {
  opacity: 0.6;
}

#aws {
  top: 50px;
  left: 850px;
}

#firebase {
  top: -350px;
  left: 700px;
}

#aws-ec2 {
  top: 25px;
  left: 500px;
  opacity: 0.8;
}

#aws-amplify {
  top: -75px;
  left: 1350px;
  opacity: 0.6;
}

#mern-stack {
  top: -220px;
  left: 50px;
}

@media (max-width:1800px) {
  .skill_img {
    left: 40px;
  }

  .skill_body {
    padding-left: 80px;
  }

  #linode {
    top: -25%;
  }

  #aws {
    top: 35%;
    left: 250%;
  }

  #firebase {
    top: -250%;
    left: 320%;
  }

  #aws-ec2 {
    top: 18%;
    left: 200%;
  }

  #aws-amplify {
    top: -58%;
    left: 500%;
  }

  #mern-stack {
    top: -150%;
    left: 18%;
  }
}